<!--
    spaghetti rat: Lauren Lee, Brianna Tieu, Emerson Gelobter, Nada Hameed SoftDev
    P01: ArRESTed Development
-->

<!doctype html>
    <head>
        <!-- stylesheet -->
        <html class="no-js" lang="en">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
        <title>Your matches</title>
    </head>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Spaghetti Rat</li>
          <li><a href="/">Home</a></li>
          <li><a href="/display">View Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>

    <body>
      <h1>Your Matches</h1>
      <hr>
      {% for match in matchList %}
        <div class="card" style="width: 300px;">
            <div class="card-divider">
              <img src= {{ matchList[match][1] }}>
            </div>
            <div class="card-section">
              <h4>{{ match }}</h4>
              <p>{{ matchList[match][0] }}</p>
              <!--
                match button: info + yes or no api call to determine whether or not user can msg
                msg button: msg the user
              -->
              <a href={{ url_for ('disp_ans', username=matchList[match][3] }} class="button small">Match</a>
              <br>
              <a href={{ url_for ('display_message', username=matchList[match][3]) }} class="button small">Message</a>
            </div>
          </div>
          <br>
      {% endfor %}
    </body>
</html>